.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  height: 100vh;
}

.field-label {
  width: 150px;
}

.signup-widget {
  position: fixed; 
  bottom: 0;
  right: 0;
  z-index: 1
}

.daily-limit-exceeded {
  background: #fff2e8; 
}

.daily-limit-not-exceeded {
  background: #e6fffb; 
}

.header-bar {
  height: 100%;
}

.header-brand {
  color: rgba(255, 255, 255, 0.3);
}

.header-content {
  color: rgba(255, 255, 255, 0.65);
}

.user-logo {
  font-size: 20px;
}

.logout:hover {
  cursor: pointer;
  color: white;
}

.invite-friend-widget-collapsed {
  background: #1890ff;
  border-radius: 10px;
}

.invite-friend-widget-expanded {
  background: white;
  border-radius: 10px;
}